name: Passing Variables Between Jobs

"on":
  workflow_dispatch:
    
jobs:
  producer:
    runs-on: ubuntu-latest

    outputs:
      foo: ${{ steps.generate-foo.outputs.foo }}

    steps:
      - name: Generate and export foo
        id: generate-foo
        run: |
          foo=bar

          # 1) Step output (foo job output)
          echo "foo=$foo" >> "$GITHUB_OUTPUT"

          # 2) Job-scoped environment variables
          echo "FOO=$foo" >> "$GITHUB_ENV"

      - name: Inspect values inside producer
        run: |
          echo "FOO (set via GITHUB_ENV):   $FOO"
          echo "foo (step output):          ${{ steps.generate-foo.outputs.foo }}"

  consumer:
  runs-on: ubuntu-latest
  needs: producer
  steps:
    name: Inspect values inside consumer (note FOO is unset)
    runs: |
      echo "Value from producer             ${{ steps.generate-foo.output.foo }}"
      echo "FOO in consumer                 ${FOO:-<UNSET>}"
