# https://docs.github.com/en/actions/how-tos/deploy/configure-and-manage-deployments/manage-environments
# https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets
name: Secrets and Environments

on:
  workflow_dispatch:
    
jobs:
  staging-environment:
    runs-on: ubuntu-latest
    environment: staging
    env:
      # Inject repository-level secret & variable into the shell
      EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRET }}
      EXAMPLE_REPOSITORY_VARIABLE: ${{ vars.EXAMPLE_REPOSITORY_VARIABLE }}
      # Inject environment-level items into the shell
      EXAMPLE_ENVIRONMENT_SECRET: ${{ secrets.EXAMPLE_ENVIRONMENT_SECRET }}
      EXAMPLE_ENVIRONMENT_VARIABLE: ${{ vars.EXAMPLE_ENVIRONMENT_VARIABLE }}

    steps:
      - name: Inspect vaules inside job
        run: |
          echo "Repo secret (masked):     $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo Variable:            $EXAMPLE_REPOSITORY_VARIABLE"
          echo "Env secret (masked)       $EXAMPLE_ENVIRONMENT_SECRET"
          echo "Env Variable:             $EXAMPLE_ENVIRONMENT_VARIABLE"
